*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'HelveticaNeueCyr',sans-serif;
    font-weight: 400;
    background: #101010;
  }
:root {
    --font-Rubik: 'Rubik', sans-serif;
    --container-width: 1440px;
    --container-bottom-width: 1440px;
    --container-padding: 15px;
    --text-color: #101010;
    --accent: #ff0000;
    --text-secondry: #939393;
    --br: 1px solid;
    --color:#fff;
  }
  .container {
    padding: 0 var(--container-padding);
    margin: 0 auto;
  
    max-width: var(--container-width);
  }
  .header-top {
    overflow: hidden;
    padding-top: 25px;
    
    min-height: 753px;
  }
  .header-top-nav {
    height:88px;
    display: flex;
    align-items:  start;
    justify-content: center;
  }

.header-top-nav-h1{
  color:var(--color);
  font-size: 4em;
  font-weight: 500;
  font-family: monospace;
  animation: animate 1s infinite;
}

/* @keyframes{
  0%{

  }
  100%{
    
  }
} */
.top-header{
  width:1160px;
  height: 700px;

  padding: 30px;
  padding-left: 0px;
   
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.div-img{
  padding: 10px;
}
.div-img-h1
{
  display: flex;
  justify-content: center; 

  padding-top:25px;
  border: 0px ;
  font-style: 12px;
  color: var(--color);
  font-weight: 300;
  font-family:monospace;
}

.header-aida{
  width: 1160px;
  height: 650px;

  margin-top: 200px;
}

.header-aida-h1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 38px;
  color: #A8A8A8;
 
}

.header-aida-h1 span{
  color: var(--color);
}

.header-aida-left
{
  width: 1160px;
  height: 650px;

  background-color:#222222;
  border: 0px;

  margin-top: 80px;
}

.header-aida-right{
  width: 282px;
  height: 650px;
  background: #101010;

}

.header-aida-right ul{
  list-style: none;
}
.header-aida-right ul li a{
text-decoration: none;
display: block; 

width: 282px;
height: 72px;

color: var(--color);
padding: 20px;
font-size: 16x;
}
.header-aida-right ul li a:hover{
 color: #8DFD1B;
 transition: all 0.5s ;
 background-color: #222;
 font-size: 18px;

 padding-right: 10px;
}
